@page "/about"
@using LiteObject.App.Library.Comm
<PageTitle>About</PageTitle>
<h2>About</h2>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed orci lectus, suscipit ac risus quis, volutpat faucibus ipsum. Pellentesque sit amet interdum elit. Donec sit amet gravida urna. Sed ultrices ac augue vitae facilisis. Proin sed suscipit lectus. Donec euismod massa sagittis, scelerisque enim nec, vulputate nibh. Proin faucibus pretium lacus sit amet volutpat. In at elit lorem. Vestibulum fringilla ex sit amet metus elementum, a pulvinar ante tempus.
</p>
<p>
    Sed tempor bibendum enim quis pharetra. Morbi tempor ipsum et ante sagittis, sit amet tincidunt dolor sollicitudin. Nullam non metus dolor. Aliquam ultricies bibendum ligula sed aliquam. Vivamus aliquet non purus non sodales. Sed augue metus, suscipit id fringilla quis, aliquet at lacus. In semper sed elit sollicitudin congue.
</p>
<div class="card">
    <div class="card-body">
        Updated: @imageCreatedDate
    </div>
</div>
<LiteObject.App.components.ContactForm></LiteObject.App.components.ContactForm>

@code {
    // IMAGE_CREATED_ON=$(docker inspect -f '{{ .Created }}' liteobject-app | date)
    string imageCreatedDate = Environment.GetEnvironmentVariable("ENV_CONTAINER_CREATED_ON") ?? "Unknown";
}
