@page "/"
@using LiteObject.App.Services

<PageTitle>Index</PageTitle>

<div>
    App Version: @appService.Version
</div>

@code {
    
    [Inject]
    private IAppService appService { get; set; } = default!;    

    /* protected override async Task OnInitializedAsync()
    {
        var v = await Task.FromResult(appService.Version);
        Console.WriteLine($">>> App Version: {v}");
    } */
}

